{% load crispy_forms_field %}

{% if field.is_hidden %}
  {{ field }}
{% else %}
  <td id="td_{{ field.auto_id }}" class="control-group{% if form_show_errors %}{% if field.errors %} error{% endif %}{% endif %} {% if field.field.widget.attrs.class %} {{ field.field.widget.attrs.class }}{% endif %}">
    {% if field|css_class == "checkboxselectmultiple" %}
      {% include 'bootstrap/layout/checkboxselectmultiple.html' %}
    {% endif %} 

    {% if field|css_class == "radioselect" %}
      {% include 'bootstrap/layout/radioselect.html' %}
    {% endif %}

    {% if field|css_class != "checkboxselectmultiple" and field|css_class != "radioselect" %}
      {% crispy_field field %}
      {% include 'bootstrap/layout/help_text_and_errors.html' %}
    {% endif %}
  </td>
{% endif %}
